on late-fs
    write /sys/block/mmcblk0/queue/scheduler row
    write /sys/block/mmcblk1/queue/scheduler row
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/nr_requests 256
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

on post-fs-data
    # Perfect mount options
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system    /system  remount noatime barrier=1
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/userdata  /data    remount noatime barrier=1 nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache     /cache   remount noatime barrier=1 nosuid nodev data=ordered noauto_da_alloc

on enable-storage-tweaks
    # Balancing the write queueing for less latency
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/mmcblk1/queue/nr_requests 128
    # Optimal read ahead value
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk1/queue/read_ahead_kb 128
    # Tag as non rotational devices
    write /sys/block/mmcblk0/queue/rotational 0
    write /sys/block/mmcblk1/queue/rotational 0
    # Disable iostats to reduce overhead
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk1/queue/iostats 0
    # Disable random, this is important for eMMC
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk1/queue/add_random 0
    # Merge affinity to let it freely finish on any thread
    write /sys/block/mmcblk0/queue/rq_affinity 0
    write /sys/block/mmcblk1/queue/rq_affinity 0
    # Setting minimum ratio of caching for QoS
    write /sys/block/mmcblk0/bdi/min_ratio 5
    write /sys/block/mmcblk1/bdi/min_ratio 5

on property:sys.io.scheduler=bfq
    write /sys/block/mmcblk0/queue/scheduler bfq
    write /sys/block/mmcblk0/queue/iosched/back_seek_penalty 1
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/iosched/raising_max_time 0
    write /sys/block/mmcblk1/queue/scheduler bfq
    write /sys/block/mmcblk1/queue/iosched/back_seek_penalty 1
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/raising_max_time 0


on property:sys.boot_completed=1
    # Enabling kernel same-page merging (KSM)
    chown root system /sys/kernel/mm/ksm/pages_to_scan
    chmod 0664 /sys/kernel/mm/ksm/pages_to_scan
    chown root system /sys/kernel/mm/ksm/sleep_millisecs
    chmod 0664 /sys/kernel/mm/ksm/sleep_millisecs
    chown root system /sys/kernel/mm/ksm/run
    chmod 0664 /sys/kernel/mm/ksm/run
    chown root system /sys/kernel/mm/ksm/deferred_timer
    chmod 0664 /sys/kernel/mm/ksm/deferred_timer
    write /sys/kernel/mm/ksm/pages_to_scan 200
    write /sys/kernel/mm/ksm/sleep_millisecs 5000
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/run 1

    # Scheduler time slice optimizations
    write /proc/sys/kernel/sched_tunable_scaling 0
    write /proc/sys/kernel/sched_latency_ns 8000000
    write /proc/sys/kernel/sched_min_granularity_ns 2000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 400000

    # Caching subsystem optimizations
    write /proc/sys/vm/swappiness 10

    # IO Scheduler is being set
    setprop sys.io.scheduler bfq
    trigger enable-storage-tweaks

    # Android memory management tweaks
    write /sys/module/lowmemorykiller/parameters/debug_level 0
    write /sys/module/lowmemorykiller/parameters/lmk_fast_run 0
    write /proc/sys/vm/oom_dump_tasks 0
    write /proc/sys/vm/page-cluster 0